.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > * {
  flex: none;
}

.header__nameAndlogo {
  padding: 0 calc(var(--spacing-unit) * 4);
  display: flex;
  align-items: center;
  font-size: 48px;
}

@media (min-width: 800px) {
  .header__nameAndlogo {
    padding: 0 calc(var(--spacing-unit) * 8);
  }
}
