.StatusBadge {
  padding: var(--spacing-xs) var(--spacing-xl);
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
}

.StatusBadge--small {
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.StatusBadge--success {
  background: var(--success-500);
  color: var(--text-contrast);
}

.StatusBadge--warning {
  background: var(--warning-500);
}

.StatusBadge--primary {
  background: var(--primary-500);
  color: var(--text-contrast);
}

.StatusBadge--grey {
  background: var(--dark-700);
  color: var(--text-contrast);
}

.StatusIcon {
  height: 1em;
  width: 1em;
  border-radius: var(--border-radius-full);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.StatusIcon__letter {
  font-size: 0.75em;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-serif);
}
