@keyframes animation-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animation-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation-right-slide-in {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-right-slide-out {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes animation-bottom-slide-in {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-bottom-slide-out {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes animation-scale-in-y {
  0% {
    transform: scale3d(1, 0.5, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animation-scale-out-y {
  0% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(1, 0.5, 1);
  }
}

@keyframes animation-scale-in {
  0% {
    transform: scale3d(0.5, 0.5, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animation-scale-out {
  0% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(0.5, 0.5, 1);
  }
}
