:root {
  /**** Colors ****************************************************************/

  --m-red-50: #ffebee;
  --m-red-100: #ffcdd2;
  --m-red-200: #ef9a9a;
  --m-red-300: #e57373;
  --m-red-400: #ef5350;
  --m-red-500: #f44336;
  --m-red-600: #e53935;
  --m-red-700: #d32f2f;
  --m-red-800: #c62828;
  --m-red-900: #b71c1c;
  --m-red-a100: #ff8a80;
  --m-red-a200: #ff5252;
  --m-red-a400: #ff1744;
  --m-red-a700: #d50000;

  --m-pink-50: #fce4ec;
  --m-pink-100: #f8bbd0;
  --m-pink-200: #f48fb1;
  --m-pink-300: #f06292;
  --m-pink-400: #ec407a;
  --m-pink-500: #e91e63;
  --m-pink-600: #d81b60;
  --m-pink-700: #c2185b;
  --m-pink-800: #ad1457;
  --m-pink-900: #880e4f;
  --m-pink-a100: #ff80ab;
  --m-pink-a200: #ff4081;
  --m-pink-a400: #f50057;
  --m-pink-a700: #c51162;

  --m-purple-50: #f3e5f5;
  --m-purple-100: #e1bee7;
  --m-purple-200: #ce93d8;
  --m-purple-300: #ba68c8;
  --m-purple-400: #ab47bc;
  --m-purple-500: #9c27b0;
  --m-purple-600: #8e24aa;
  --m-purple-700: #7b1fa2;
  --m-purple-800: #6a1b9a;
  --m-purple-900: #4a148c;
  --m-purple-a100: #ea80fc;
  --m-purple-a200: #e040fb;
  --m-purple-a400: #d500f9;
  --m-purple-a700: #aa00ff;

  --m-deep-purple-50: #ede7f6;
  --m-deep-purple-100: #d1c4e9;
  --m-deep-purple-200: #b39ddb;
  --m-deep-purple-300: #9575cd;
  --m-deep-purple-400: #7e57c2;
  --m-deep-purple-500: #673ab7;
  --m-deep-purple-600: #5e35b1;
  --m-deep-purple-700: #512da8;
  --m-deep-purple-800: #4527a0;
  --m-deep-purple-900: #311b92;
  --m-deep-purple-a100: #b388ff;
  --m-deep-purple-a200: #7c4dff;
  --m-deep-purple-a400: #651fff;
  --m-deep-purple-a700: #6200ea;

  --m-indigo-50: #e9ebf6;
  --m-indigo-100: #c4c9e9;
  --m-indigo-200: #a0a8da;
  --m-indigo-300: #7b88cc;
  --m-indigo-400: #5d6cc0;
  --m-indigo-500: #4051b5;
  --m-indigo-600: #3949ac;
  --m-indigo-700: #303fa1;
  --m-indigo-800: #293594;
  --m-indigo-900: #1a227f;
  --m-indigo-a100: #8a9bff;
  --m-indigo-a200: #526cfe;
  --m-indigo-a400: #3e5bfe;
  --m-indigo-a700: #2f4efe;

  --m-blue-50: #e2f2fd;
  --m-blue-100: #bcdefb;
  --m-blue-200: #90caf9;
  --m-blue-300: #65b5f6;
  --m-blue-400: #42a5f5;
  --m-blue-500: #2094f3;
  --m-blue-600: #1f89e5;
  --m-blue-700: #1975d2;
  --m-blue-800: #1565c1;
  --m-blue-900: #0d48a0;
  --m-blue-a100: #80b0ff;
  --m-blue-a200: #4287ff;
  --m-blue-a400: #2977ff;
  --m-blue-a700: #2962ff;

  --m-light-blue-50: #e1f5fe;
  --m-light-blue-100: #b3e5fc;
  --m-light-blue-200: #81d4fa;
  --m-light-blue-300: #4fc3f7;
  --m-light-blue-400: #29b6f6;
  --m-light-blue-500: #03a9f4;
  --m-light-blue-600: #039be5;
  --m-light-blue-700: #0288d1;
  --m-light-blue-800: #0277bd;
  --m-light-blue-900: #01579b;
  --m-light-blue-a100: #80d8ff;
  --m-light-blue-a200: #40c4ff;
  --m-light-blue-a400: #00b0ff;
  --m-light-blue-a700: #0091ea;

  --m-cyan-50: #e0f7fa;
  --m-cyan-100: #b2ebf2;
  --m-cyan-200: #80deea;
  --m-cyan-300: #4dd0e1;
  --m-cyan-400: #26c6da;
  --m-cyan-500: #00bcd4;
  --m-cyan-600: #00acc1;
  --m-cyan-700: #0097a7;
  --m-cyan-800: #00838f;
  --m-cyan-900: #006064;
  --m-cyan-a100: #84ffff;
  --m-cyan-a200: #18ffff;
  --m-cyan-a400: #00e5ff;
  --m-cyan-a700: #00b8d4;

  --m-teal-50: #e0f2f1;
  --m-teal-100: #b2dfdb;
  --m-teal-200: #80cbc4;
  --m-teal-300: #4db6ac;
  --m-teal-400: #26a69a;
  --m-teal-500: #009688;
  --m-teal-600: #00897b;
  --m-teal-700: #00796b;
  --m-teal-800: #00695c;
  --m-teal-900: #004d40;
  --m-teal-a100: #a7ffeb;
  --m-teal-a200: #64ffda;
  --m-teal-a400: #1de9b6;
  --m-teal-a700: #00bfa5;

  --m-green-50: #e8f5e9;
  --m-green-100: #c8e6c9;
  --m-green-200: #a5d6a7;
  --m-green-300: #81c784;
  --m-green-400: #66bb6a;
  --m-green-500: #4caf50;
  --m-green-600: #43a047;
  --m-green-700: #388e3c;
  --m-green-800: #2e7d32;
  --m-green-900: #1b5e20;
  --m-green-a100: #b9f6ca;
  --m-green-a200: #69f0ae;
  --m-green-a400: #00e676;
  --m-green-a700: #00c853;

  --m-light-green-50: #f1f8e9;
  --m-light-green-100: #dcedc8;
  --m-light-green-200: #c5e1a5;
  --m-light-green-300: #aed581;
  --m-light-green-400: #9ccc65;
  --m-light-green-500: #8bc34a;
  --m-light-green-600: #7cb342;
  --m-light-green-700: #689f38;
  --m-light-green-800: #558b2f;
  --m-light-green-900: #33691e;
  --m-light-green-a100: #ccff90;
  --m-light-green-a200: #b2ff59;
  --m-light-green-a400: #76ff03;
  --m-light-green-a700: #64dd17;

  --m-lime-50: #f9fbe7;
  --m-lime-100: #f0f4c3;
  --m-lime-200: #e6ee9c;
  --m-lime-300: #dce775;
  --m-lime-400: #d4e157;
  --m-lime-500: #cddc39;
  --m-lime-600: #c0ca33;
  --m-lime-700: #afb42b;
  --m-lime-800: #9e9d24;
  --m-lime-900: #827717;
  --m-lime-a100: #f4ff81;
  --m-lime-a200: #eeff41;
  --m-lime-a400: #c6ff00;
  --m-lime-a700: #aeea00;

  --m-yellow-50: #fffde7;
  --m-yellow-100: #fff9c4;
  --m-yellow-200: #fff59d;
  --m-yellow-300: #fff176;
  --m-yellow-400: #ffee58;
  --m-yellow-500: #ffeb3b;
  --m-yellow-600: #fdd835;
  --m-yellow-700: #fbc02d;
  --m-yellow-800: #f9a825;
  --m-yellow-900: #f57f17;
  --m-yellow-a100: #ffff8d;
  --m-yellow-a200: #ffff00;
  --m-yellow-a400: #ffea00;
  --m-yellow-a700: #ffd600;

  --m-amber-50: #fff8e1;
  --m-amber-100: #ffecb3;
  --m-amber-200: #ffe082;
  --m-amber-300: #ffd54f;
  --m-amber-400: #ffca28;
  --m-amber-500: #ffc107;
  --m-amber-600: #ffb300;
  --m-amber-700: #ffa000;
  --m-amber-800: #ff8f00;
  --m-amber-900: #ff6f00;
  --m-amber-a100: #ffe57f;
  --m-amber-a200: #ffd740;
  --m-amber-a400: #ffc400;
  --m-amber-a700: #ffab00;

  --m-orange-50: #fff3e0;
  --m-orange-100: #ffe0b2;
  --m-orange-200: #ffcc80;
  --m-orange-300: #ffb74d;
  --m-orange-400: #ffa726;
  --m-orange-500: #ff9800;
  --m-orange-600: #fb8c00;
  --m-orange-700: #f57c00;
  --m-orange-800: #ef6c00;
  --m-orange-900: #e65100;
  --m-orange-a100: #ffd180;
  --m-orange-a200: #ffab40;
  --m-orange-a400: #ff9100;
  --m-orange-a700: #ff6d00;

  --m-deep-orange-50: #fbe9e7;
  --m-deep-orange-100: #ffccbc;
  --m-deep-orange-200: #ffab91;
  --m-deep-orange-300: #ff8a65;
  --m-deep-orange-400: #ff7043;
  --m-deep-orange-500: #ff5722;
  --m-deep-orange-600: #f4511e;
  --m-deep-orange-700: #e64a19;
  --m-deep-orange-800: #d84315;
  --m-deep-orange-900: #bf360c;
  --m-deep-orange-a100: #ff9e80;
  --m-deep-orange-a200: #ff6e40;
  --m-deep-orange-a400: #ff3d00;
  --m-deep-orange-a700: #dd2c00;

  --m-blue-gray-50: #eceff1;
  --m-blue-gray-100: #cfd8dc;
  --m-blue-gray-200: #b0bec5;
  --m-blue-gray-300: #90a4ae;
  --m-blue-gray-400: #78909c;
  --m-blue-gray-500: #607d8b;
  --m-blue-gray-600: #546e7a;
  --m-blue-gray-700: #455a64;
  --m-blue-gray-800: #37474f;
  --m-blue-gray-900: #263238;

  --dark-30: rgba(0, 0, 0, 0.03);
  --dark-50: rgba(0, 0, 0, 0.05);
  --dark-100: rgba(0, 0, 0, 0.1);
  --dark-200: rgba(0, 0, 0, 0.2);
  --dark-300: rgba(0, 0, 0, 0.3);
  --dark-400: rgba(0, 0, 0, 0.4);
  --dark-500: rgba(0, 0, 0, 0.5);
  --dark-600: rgba(0, 0, 0, 0.6);
  --dark-700: rgba(0, 0, 0, 0.7);
  --dark-800: rgba(0, 0, 0, 0.8);
  --dark-900: rgba(0, 0, 0, 0.9);

  --light-1000: rgba(255, 255, 255, 1);

  --primary-50: var(--m-blue-50);
  --primary-100: var(--m-blue-100);
  --primary-200: var(--m-blue-200);
  --primary-300: var(--m-blue-300);
  --primary-400: var(--m-blue-400);
  --primary-500: var(--m-blue-500);
  --primary-600: var(--m-blue-600);
  --primary-700: var(--m-blue-700);
  --primary-800: var(--m-blue-800);
  --primary-900: var(--m-blue-900);
  --primary-a100: var(--m-blue-a100);
  --primary-a200: var(--m-blue-a200);
  --primary-a400: var(--m-blue-a400);
  --primary-a700: var(--m-blue-a700);

  --alert-50: var(--m-red-50);
  --alert-100: var(--m-red-100);
  --alert-200: var(--m-red-200);
  --alert-300: var(--m-red-300);
  --alert-400: var(--m-red-400);
  --alert-500: var(--m-red-500);
  --alert-600: var(--m-red-600);
  --alert-700: var(--m-red-700);
  --alert-800: var(--m-red-800);
  --alert-900: var(--m-red-900);
  --alert-a100: var(--m-red-a100);
  --alert-a200: var(--m-red-a200);
  --alert-a400: var(--m-red-a400);
  --alert-a700: var(--m-red-a700);

  --warning-50: var(--m-amber-50);
  --warning-100: var(--m-amber-100);
  --warning-200: var(--m-amber-200);
  --warning-300: var(--m-amber-300);
  --warning-400: var(--m-amber-400);
  --warning-500: var(--m-amber-500);
  --warning-600: var(--m-amber-600);
  --warning-700: var(--m-amber-700);
  --warning-800: var(--m-amber-800);
  --warning-900: var(--m-amber-900);
  --warning-a100: var(--m-amber-a100);
  --warning-a200: var(--m-amber-a200);
  --warning-a400: var(--m-amber-a400);
  --warning-a700: var(--m-amber-a700);

  --success-50: var(--m-green-50);
  --success-100: var(--m-green-100);
  --success-200: var(--m-green-200);
  --success-300: var(--m-green-300);
  --success-400: var(--m-green-400);
  --success-500: var(--m-green-500);
  --success-600: var(--m-green-600);
  --success-700: var(--m-green-700);
  --success-800: var(--m-green-800);
  --success-900: var(--m-green-900);
  --success-a100: var(--m-green-a100);
  --success-a200: var(--m-green-a200);
  --success-a400: var(--m-green-a400);
  --success-a700: var(--m-green-a700);

  --bg-primary: var(--light-1000);
  --bg-secondary: var(--dark-30);

  --border-color: var(--dark-50);

  --text-primary: var(--dark-800);
  --text-secondary: var(--dark-600);
  --text-contrast: var(--light-1000);

  /**** Font ******************************************************************/

  --font-family-serif: "Open Sans", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;

  --font-family-sans: "Roboto", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;
  --font-size-6xl: 60px;
  --font-size-7xl: 72px;
  --font-size-8xl: 96px;
  --font-size-9xl: 128px;

  --line-height-2xs: 0.75;
  --line-height-xs: 1;
  --line-height-s: 1.25;
  --line-height-m: 1.5;
  --line-height-l: 1.75;
  --line-height-xl: 1.75;
  --line-height-2xl: 2;
  --line-height-3xl: 1;
  --line-height-4xl: 1;
  --line-height-5xl: 1;
  --line-height-6xl: 1;
  --line-height-7xl: 1;
  --line-height-8xl: 1;
  --line-height-9xl: 1;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /**** Spacings **************************************************************/

  --spacing-xs: 4px;
  --spacing-s: 8px; /* x2 */
  --spacing-m: 12px; /* x3 */
  --spacing-l: 16px; /* x4 */
  --spacing-xl: 24px; /* x6 */
  --spacing-2xl: 32px; /* x8 */
  --spacing-3xl: 40px; /* x10 */
  --spacing-4xl: 48px; /* x12 */

  /**** Components size *******************************************************/

  --main-max-width: 600px;
  --header-height: 48px;
  --bottom-nav-height: 56px;
  --left-nav-max-width: 250px;

  /**** Radius ****************************************************************/

  --border-radius-m: 12px;
  --border-radius-l: 24px;
  --border-radius-full: 9999px;

  /**** Transitions and animations ********************************************/

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-exit: var(--ease-in);
  --ease-enter: var(--ease-out);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-fast: 100ms;
  --duration-slow: 200ms;

  /**** Shadows ***************************************************************/

  --shadow-m: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  --shadow-l: 0 4px 12px 0 rgba(0, 0, 0, 0.08);

  /**** Z indexes *************************************************************/

  --z-index-header: 20;
  --z-index-navigation: 20;
  --z-index-modal: 30;
  --z-index-snackbar: 40;
  --z-index-progress-bar: 40;

  /**** Opacities *************************************************************/

  --opacity-disabled: 0.6;
}

@media (min-width: 800px) {
  :root {
    --header-height: 56px;
  }
}
