.QuickAction {
  position: fixed;
  --quick-action-spacing: var(--spacing-l);
  --quick-saction-bottom: calc(
    var(--bottom-nav-height) + var(--quick-action-spacing)
  );
  bottom: var(--quick-saction-bottom);
  bottom: calc(var(--quick-saction-bottom) + env(safe-area-inset-bottom, 0));
  right: var(--quick-action-spacing);
  right: calc(var(--quick-action-spacing) + env(safe-area-inset-right, 0));
  z-index: var(--z-index-navigation);
  box-shadow: var(--shadow-m);
  border-radius: var(--border-radius-full);
  width: 2em;
  height: 2em;
  font-size: var(--font-size-3xl);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-500);
  color: var(--text-contrast);
}

@media (hover: hover) {
  .QuickAction:hover {
    background: var(--primary-400);
  }
}

.QuickAction:active {
  background: var(--primary-600);
}
