*,
*::before,
*::after {
  /* Disable bark background on link/button on tap. */
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-normal);
  background: var(--bg-primary);
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: var(--text-primary);
}

strong {
  font-weight: var(--font-weight-bold);
}

a:focus,
input:focus,
select:focus,
button:focus,
[tabindex]:focus {
  /* TODO: Remove the `!important` when Tailwind has been removed. */
  outline: none !important;
}

a.focus-visible,
a:focus-visible,
input.focus-visible,
input:focus-visible,
select.focus-visible,
select:focus-visible,
button.focus-visible,
button:focus-visible,
[tabindex].focus-visible,
[tabindex]:focus-visible {
  box-shadow: 0 0 0 2px var(--focus-color);
}
