:root {
  --spacing-xs: 4px;
  --spacing-s: 8px; /* x2 */
  --spacing-m: 12px; /* x3 */
  --spacing-l: 16px; /* x4 */
  --spacing-xl: 20px; /* x5 */
  --spacing-2xl: 24px; /* x6 */
  --spacing-3xl: 32px; /* x8 */
  --spacing-4xl: 40px; /* x10 */
  --spacing-5xl: 48px; /* x12 */
  --spacing-6xl: 64px; /* x16 */

  --content-max-width: 1024px;
  --content-margin: calc(
    var(--spacing-3xl) + max(0px, (100% - var(--content-max-width)) / 2)
  );

  --header-height: 64px;

  --text-primary: rgba(0, 0, 0, 0.8);
  --text-secondary: rgba(0, 0, 0, 0.7);
  --text-label: rgba(0, 0, 0, 0.5);
  --text-contrast: white;

  --bg-primary: white;
  --bg-secondary: rgba(0, 0, 0, 0.03);
  --bg-footer: rgba(0, 0, 0, 0.05);

  --focus-color: hsl(202, 100%, 62%); /* +25 */
  --blue-light: hsl(202, 100%, 42%); /* +5 */
  --blue-medium: hsl(202, 100%, 37%); /* #0078bd */
  --blue-dark: hsl(202, 100%, 32%); /* -5 */
  --blue-background: linear-gradient(
    to right,
    hsl(202, 48%, 86%),
    hsl(202, 100%, 96%)
  );

  --green-xlight: hsl(133, 57%, 55%); /* +10 */
  --green-light: hsl(133, 57%, 50%); /* +5 */
  --green-medium: hsl(133, 57%, 45%); /* #32b54f */
  --green-dark: hsl(133, 57%, 40%); /* -5 */
  --green-background: linear-gradient(
    to right,
    hsl(133, 36%, 85%),
    hsl(133, 38%, 92%)
  );

  --yellow: #ffc31b;
  --red: #ed2a26;
  --cyan: #00bfbf;

  --border-color: rgba(0, 0, 0, 0.1);

  --adopt-color: linear-gradient(
    to right,
    hsl(13, 34%, 83%),
    hsl(18, 28%, 83%)
  );

  --host-family-color: linear-gradient(
    to bottom right,
    hsl(34, 14%, 90%),
    hsl(240, 7%, 91%)
  );

  --volunteers-color: linear-gradient(
    to bottom right,
    rgb(243, 232, 205),
    rgb(255, 245, 221)
  );

  /* Fonts */

  --font-family-serif: "Playfair Display";
  --font-family-sans: "Open Sans";

  /* Perfect fifth base 16 (https://type-scale.com/) */
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 36px;
  --font-size-2xl: 54px;
  --font-size-3xl: 81px;

  --line-height-s: 1.5;
  --line-height-m: 1.5;
  --line-height-l: 1.35;
  --line-height-xl: 1.2;
  --line-height-2xl: 1.2;
  --line-height-3xl: 1.2;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Radius */

  --border-radius-s: 8px;
  --border-radius-m: 16px;
  --border-radius-full: 9999px;

  /* Transitions and animations */

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-exit: var(--ease-in);
  --ease-enter: var(--ease-out);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-popover: 100ms;
  --duration-controller: 100ms;

  /* Shadows */
  --shadow-m: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  --shadow-l: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 800px) {
  :root {
    /* Golden ratio base 18 (https://type-scale.com/) */
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 29.12px;
    --font-size-xl: 47.12px;
    --font-size-2xl: 76.24px;
    --font-size-3xl: 123.36px;

    --header-height: 72px;
  }
}
