.px-4 {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.separator {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-l);
  border: 0;
}

.separator::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--bg-secondary);
  width: 100%;
}
