.StatisticsTitle {
  font-family: var(--font-serif);
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  font-size: 28px;
}

@media (min-width: 800px) {
  .StatisticsTitle {
    font-size: 40px;
  }
}

.StatisticsList {
  margin-top: calc(var(--spacing-unit) * 8);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: calc(var(--spacing-unit) * 8);
}

.StatisticItem {
  box-shadow: var(--shadow-lg);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.StatisticImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media (min-width: 800px) {
  .StatisticImage {
    height: 200px;
  }
}

.StatisticItemContent {
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4)
    calc(var(--spacing-unit) * 4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .StatisticItemContent {
    padding: calc(var(--spacing-unit) * 4) calc(var(--spacing-unit) * 8)
      calc(var(--spacing-unit) * 8);
  }
}

.StatisticItemValue {
  margin-bottom: calc(var(--spacing-unit) * 2);
  font-family: var(--font-serif);
  line-height: 1.2;
  font-weight: 600;
  font-size: 32px;
}

@media (min-width: 800px) {
  .StatisticItemValue {
    font-size: 50px;
  }
}
