.section.adopt {
  background-image: var(--adopt-color);
}

.section.blue {
  background-image: var(--blue-background);
}

.section.green {
  background-image: var(--green-background);
}

.content {
  position: relative;
  padding-top: var(--spacing-5xl);
  padding-bottom: var(--spacing-5xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

@media (min-width: 800px) {
  .title {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
  }
}
