@theme {
  --transition-duration-fast: 50ms;
  --transition-duration-normal: 100ms;
  --transition-duration-slow: 150ms;

  --default-transition-duration: var(--transition-duration-normal);
}

@theme {
  --animate-spinner-spin: spin 1.5s linear infinite;

  --animate-spinner-stroke: spinner-stroke 2s var(--ease-in-out) infinite;

  @keyframes spinner-stroke {
    0% {
      stroke-dasharray: 1, 300;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 150, 300;
      /*
       * Yep, that's right!
       * Computed by `circle.getTotalLength()`.
       */
      stroke-dashoffset: -175.6449737548828 / 4;
    }

    100% {
      stroke-dasharray: 150, 300;
      stroke-dashoffset: -175.6449737548828;
    }
  }
}
