@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(--value(--width-*, [length]), 1fr)
  );
}

@theme {
  --grid-template-columns-auto-auto: repeat(2, auto);
  --grid-template-columns-auto-fr: auto minmax(0, 1fr);
  --grid-template-columns-fr-auto: minmax(0, 1fr) auto;
  --grid-template-columns-fr-auto-auto: minmax(0, 1fr) auto auto;
}
