.Adornment {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semibold);
}

.Adornment--action {
  border-radius: var(--border-radius-full);
  pointer-events: auto;
}

@media (hover: hover) {
  .Adornment--action:hover {
    background: var(--dark-30);
  }
}

.Adornment--action:active {
  background: var(--dark-50);
}
