.Selectors {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--spacing-s) * -1);
  margin-left: calc(var(--spacing-s) * -1);
}

.Selectors--isStretched > * {
  flex: 1;
}

.SelectorItem {
  padding-top: calc(var(--spacing-s) * 1);
  padding-left: calc(var(--spacing-s) * 1);
  max-width: 100%;
}

.Selector {
  position: relative;
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
}

@media (hover: hover) {
  .Selector:hover {
    background: var(--dark-30);
    color: inherit;
  }
}

.Selector:active {
  background: var(--dark-50);
}

.Selector--isChecked {
  background: var(--dark-30);
  color: inherit;
}

@media (hover: hover) {
  .Selector--isChecked:hover {
    background: var(--dark-50);
  }
}

.Selector--isChecked:active {
  background: var(--dark-100);
}

.SelectorInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-full);
  appearance: none;
}

.SelectorIcon {
  margin-right: var(--spacing-s);
  flex: none;
}

.SelectorLabel {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
