.StatisticsTitle {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

@media (min-width: 800px) {
  .StatisticsTitle {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.StatisticsList {
  margin-top: var(--spacing-3xl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: var(--spacing-3xl);
}

.StatisticItem {
  box-shadow: var(--shadow-l);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  background: var(--bg-primary);
}

.StatisticImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media (min-width: 800px) {
  .StatisticImage {
    height: 200px;
  }
}

.StatisticItemContent {
  padding: var(--spacing-s) var(--spacing-l) var(--spacing-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .StatisticItemContent {
    padding: var(--spacing-l) var(--spacing-3xl) var(--spacing-3xl);
  }
}

.StatisticItemValue {
  margin-bottom: var(--spacing-s);
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

@media (min-width: 800px) {
  .StatisticItemValue {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}
