.Button {
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-bold);

  --button-padding-y: 0;
  --button-padding-x: 0;
  padding: var(--button-padding-y) var(--button-padding-x);
}

.Button--disabled {
  opacity: var(--opacity-disabled);
}

.Button--small {
  --button-padding-y: var(--spacing-xs);
}

.Button--small:not(.Button--isIconOnly) {
  --button-padding-x: var(--spacing-xl);
}

.Button--small.Button--isIconOnly {
  --button-padding-x: var(--spacing-xs);
}

.Button--medium {
  --button-padding-y: var(--spacing-s);
}

.Button--medium:not(.Button--isIconOnly) {
  --button-padding-x: var(--spacing-4xl);
}

.Button--medium.Button--isIconOnly {
  --button-padding-x: var(--spacing-s);
}

.Button--primary {
  background: var(--primary-500);
  color: var(--text-contrast);
}

@media (hover: hover) {
  .Button--primary:not(.Button--disabled):hover {
    background: var(--primary-400);
  }
}

.Button--primary:not(.Button--disabled):active {
  background: var(--primary-600);
}

@media (hover: hover) {
  .Button--secondary:not(.Button--disabled):hover {
    background: var(--dark-30);
  }
}

.Button--secondary:not(.Button--disabled):active {
  background: var(--dark-100);
}

.Button--outlined {
  background: var(--light-1000);
  border: 1px solid var(--dark-100);
  /* Compensate the border. */
  padding: calc(var(--button-padding-y) - 1px) var(--button-padding-x);
}

@media (hover: hover) {
  .Button--outlined:not(.Button--disabled):hover {
    background: var(--dark-30);
  }
}

.Button--outlined:not(.Button--disabled):active {
  background: var(--dark-100);
}

.Button > *:not(:first-child) {
  margin-left: var(--spacing-s);
}
