@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600,700&display=swap");
@import url("react-toastify/dist/ReactToastify.css");
@import url("react-spring-bottom-sheet/dist/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    /* Disable bark background on link/button on tap. */
    -webkit-tap-highlight-color: transparent;

    /* Disable callout menu on tap and hold on link/button. */
    /* https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8 */
    -webkit-touch-callout: none;
  }

  /* react-spring-bottom-sheet overrides */
  /* purgecss start ignore */
  [data-rsbs-overlay],
  [data-rsbs-backdrop],
  [data-rsbs-root]:after {
    @apply z-20;
  }

  [data-rsbs-header] {
    @apply shadow-none px-0 pb-0 text-left;
  }
  /* purgecss end ignore */
}

@layer components {
  .a11y-focus:focus {
    @apply outline-none;
  }

  .a11y-focus:focus-visible,
  .a11y-focus.focus-visible {
    @apply outline;
  }

  .animation-progress-bar {
    @apply text-blue-500;
    height: 2px;
    display: block;
    background-clip: padding-box;
    overflow: hidden;
  }

  @keyframes progress-bar-long {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  .animation-progress-bar::before {
    content: "";
    background-color: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    animation: progress-bar-long 2s cubic-bezier(0.65, 0.815, 0.735, 0.395)
      infinite;
  }

  @keyframes progress-bar-short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }

  .animation-progress-bar::after {
    content: "";
    background-color: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    animation: progress-bar-short 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
  }

  @keyframes placeholder-pulse {
    0% {
      background-position: -1000px 0;
    }

    100% {
      background-position: 1000px 0;
    }
  }

  .placeholder {
    @apply relative inline-flex items-center;
  }

  .placeholder::before {
    /* Display some text to make sure to have the correct height when it is
     * set to "auto". */
    content: ".";
    opacity: 0;
  }

  .placeholder::after {
    @apply absolute w-full inline-block rounded;
    content: "";
    height: 70%;
    background: linear-gradient(
      to right,
      rgba(237, 237, 237, 0.2),
      rgba(129, 129, 129, 0.2) 50%,
      rgba(237, 237, 237, 0.2)
    );
    background-size: 1000px auto;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholder-pulse;
    animation-timing-function: linear;
  }

  .placeholder-avatar {
    @apply w-12 h-12;
  }

  .placeholder-avatar::after {
    @apply h-full rounded-full;
  }

  .placeholder-button {
    @apply min-w-button h-10;
  }

  .placeholder-checkbox {
    @apply w-4 h-4;
  }

  .placeholder-checkbox::after {
    @apply h-full;
  }

  .placeholder-checkbox-input {
    @apply w-1/2 h-10;
  }

  .placeholder-icon {
    width: 1em;
    height: 1em;
  }

  .placeholder-icon::after {
    @apply h-full rounded-full;
  }

  .placeholder-input {
    @apply w-full h-10;
  }

  .placeholder-label {
    @apply w-3/12;
  }

  .placeholder-selector {
    @apply w-full h-20;
  }

  .placeholder-text {
    @apply w-9/12;
  }

  .placeholder-tag {
    @apply w-20 h-8;
  }

  .placeholder-tag::after {
    @apply rounded-full;
  }

  .header-filter {
    backdrop-filter: blur(2px);
  }

  .navigation-pb {
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
  }

  .snackbar-bottom {
    bottom: theme("padding.14");
    bottom: calc(theme("padding.14") + env(safe-area-inset-bottom, 0));
  }

  .main-pb {
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
  }

  .main-pb-with-navigation {
    padding-bottom: theme("height.14");
    padding-bottom: calc(theme("height.14") + env(safe-area-inset-bottom, 0));
  }
}

@layer utilities {
  @variants focus-visible {
    .outline {
      /* Default tailwind outline */
      /* See https://github.com/tailwindlabs/tailwindcss/blob/2b0b306a77cc0f34cd25054a0d661a18278786bc/src/plugins/css/preflight.css#L37 */
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }
}
