.LargeNavigation {
  padding: 0 var(--spacing-3xl);
  display: flex;
  align-items: center;
}

.LargeNavigationItem {
  padding: var(--spacing-s) var(--spacing-l);
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-semibold);
}

.LargeNavigationItem > *:not(:first-child) {
  margin-left: var(--spacing-xs);
}

@media (hover: hover) {
  .LargeNavigationItem:hover {
    text-decoration: underline;
  }
}

.LargeNavigationMenu {
  position: relative;
}

.LargeNavigationMenu__content {
  --menu-content-translate: translate3d(-50%, var(--spacing-xl), 0);

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: var(--menu-content-translate) scale3d(0.5, 0.5, 1);
  transform-origin: top center;
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: var(--duration-popover);
  transition-timing-function: var(--ease-exit);
  width: max-content;
  max-width: 360px;
  background: var(--bg-primary);
  padding: var(--border-radius-m) 0;
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow);
}

.LargeNavigationMenu__content--open {
  transform: var(--menu-content-translate) scale3d(1, 1, 1);
  opacity: 1;
  transition-timing-function: var(--ease-enter);
}
