.NavigationSubItem {
  width: 100%;
  padding: var(--spacing-s) var(--spacing-l);
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  .NavigationSubItem:hover {
    text-decoration: underline;
  }
}
