.SmallNavigation__button {
  border-radius: 50%;
  padding: var(--spacing-l);
  display: flex;
  align-items: center;
  justify-content: center;
}

.SmallNavigation__nav {
  position: absolute;
  /* Lower than the header background. */
  z-index: -2;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: translate3d(0, calc(-100% - var(--header-height)), 0);
  transition-property: transform, opacity;
  transition-duration: var(--duration-popover);
  transition-timing-function: /* transform */ var(--ease-exit),
    /* opacity */ step-end;
  width: 100%;
  background: var(--bg-primary);
  padding-bottom: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: var(--shadow-lg);
}

.SmallNavigation__nav--open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-timing-function: /* transform */ var(--ease-enter),
    /* opacity */ step-start;
}

.SmallNavigationItem {
  width: 100%;
  padding: var(--spacing-s) var(--spacing-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--font-weight-semibold);
}

.SmallNavigationItem:hover,
.SmallNavigationItem:active {
  opacity: 0.8;
}

.SmallNavigationMenu {
  display: none;
}

.SmallNavigationMenu--open {
  display: block;
  font-weight: var(--font-weight-medium);
  padding-bottom: var(--spacing-l);
}
