.HeroSection {
  width: 100%;
}

.HeroSectionImage {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

@media (max-width: 800px) {
  .HeroSectionImage {
    height: 320px;
  }
}

.HeroSectionTextWrapper {
  background: rgba(139, 134, 103, 255);
  /* background-image: var(--adopt-color); */
}

.HeroSectionText {
  position: relative;
  padding-top: var(--spacing-4xl);
  padding-bottom: var(--spacing-4xl);
}

.HeroSectionTitle {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

@media (min-width: 800px) {
  .HeroSectionTitle {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
  }
}

.HeroSectionSubTitle {
  margin-top: var(--spacing-l);
  text-align: center;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

@media (min-width: 800px) {
  .HeroSectionSubTitle {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
}

.HeroSectionSearchForm {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  max-width: 512px;
}
