.Footer {
  background: var(--bg-footer);
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.FooterBlock {
  --footer-notice-spacing: var(--spacing-3xl);
  padding-top: var(--footer-notice-spacing);
  padding-bottom: var(--footer-notice-spacing);
}

.FooterBlock:not(:first-child) {
  border-top: 1px solid var(--border-color);
}

.FooterGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: var(--spacing-3xl);
}

.FooterSection > *:not(:first-child) {
  margin-top: var(--spacing-s);
}

.FooterSectionTitle {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

.FooterLinkList > *:not(:first-child) {
  margin-top: var(--spacing-s);
}

.FooterLink {
  display: inline-flex;
  align-items: center;
}

.FooterLink:hover,
.FooterLink:active {
  text-decoration: underline;
}

.FooterLink > *:not(:first-child) {
  margin-left: var(--spacing-s);
}

.NewsletterForm {
  background: var(--bg-primary);
  border-radius: var(--border-radius-full);
  padding: var(--spacing-xs);
  display: flex;
  align-items: stretch;
}

.NewsletterForm > *:not(:first-child) {
  margin-left: var(--spacing-s);
}

.NewsletterInput {
  min-width: 0;
  flex: 1;
  border-radius: var(--border-radius-full);
  padding: var(--spacing-s) var(--spacing-l);
}

.NewsletterInput::placeholder {
  color: var(--text-label);
}

.NewsletterSubmitButton {
  flex: none;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-medium);
  color: var(--text-contrast);
  border-radius: var(--border-radius-full);
  font-weight: var(--font-weight-semibold);
}

.NewsletterSubmitButton:hover {
  background: var(--blue-light);
}

.NewsletterSubmitButton:active {
  background: var(--blue-dark);
}

.FooterNoticeSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.FooterSocialLinks {
  margin-left: var(--spacing-3xl);
  display: flex;
  align-items: center;
}

.FooterSocialLinks > *:not(:first-child) {
  margin-left: var(--spacing-l);
}

@media (min-width: 800px) {
  .FooterSocialLinks > *:not(:first-child) {
    margin-left: var(--spacing-2xl);
  }
}

.FooterSocialLink {
  font-size: calc(var(--line-height-s) * 1em);
  display: flex;
}

.FooterSocialLink:hover,
.FooterSocialLink:active {
  opacity: 0.8;
}
