/*
 * We only import the minimal styles and use our own.
 * See https://fkhadra.github.io/react-toastify/how-to-style#styling-from-scratch
 */
@import url("react-toastify/dist/ReactToastify.minimal.css");

.Toastify__toast-container {
  z-index: var(--z-index-snackbar);
  position: fixed;
  padding: var(--spacing-s);
}

@media (max-width: 499px) {
  .Toastify__toast-container {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .Toastify__toast-container {
    max-width: 350px;
    min-width: 200px;
  }
}

.Toastify__toast-container--bottom-center {
  bottom: var(--bottom-nav-height);
  bottom: calc(var(--bottom-nav-height) + env(safe-area-inset-bottom, 0));
}

.Toastify__toast-container--bottom-right {
  bottom: var(--bottom-nav-height);
  bottom: calc(var(--bottom-nav-height) + env(safe-area-inset-bottom, 0));
  right: 0;
  right: env(safe-area-inset-right, 0);
}

.Toastify__toast {
  margin: 0;
  min-height: initial;
  padding: 0;
  box-shadow: var(--shadow-m);
  border-radius: var(--border-radius-m);
  font-family: inherit;
  cursor: pointer;
}

.Toastify__toast--success {
  background: var(--success-500);
  color: var(--text-contrast);
}

.Toastify__toast--error {
  background: var(--alert-500);
  color: var(--text-contrast);
}

.Toastify__toast-body {
  margin: 0;
  flex: 1;
  max-width: 100%;
  min-width: 0;
  padding: 0;
}

.Snackbar {
  padding: var(--spacing-m) var(--spacing-l);
  font-weight: var(--font-weight-medium);
}

.Toastify--animate {
  animation-fill-mode: forwards;
  animation-duration: var(--duration-slow);
}

.Toastify__zoom-enter {
  animation-name: animation-fade-in, animation-scale-in;
  animation-timing-function: var(--ease-enter);
}

.Toastify__zoom-exit {
  animation-name: animation-fade-out, animation-scale-out;
  animation-timing-function: var(--ease-exit);
}

.Toastify__slide-enter--bottom-right {
  animation-name: animation-fade-in, animation-right-slide-in;
  animation-timing-function: var(--ease-enter);
}

.Toastify__slide-exit--bottom-right {
  animation-name: animation-fade-out, animation-right-slide-out;
  animation-timing-function: var(--ease-exit);
}
