.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: var(--spacing-2xl);
}

.article {
  box-shadow: var(--shadow-l);
  border-radius: var(--border-radius-m);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  background: var(--bg-primary);
}

@media (hover: hover) {
  .article:hover {
    text-decoration: underline;
  }
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info {
  padding: var(--spacing-l);
}

.name {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-semibold);
  min-width: 0;
  word-break: break-word;
}
