.Navigation {
  z-index: var(--z-index-navigation);
  min-width: 0;

  padding-right: 0;
  padding-right: env(safe-area-inset-right, 0);
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);

  transition-property: box-shadow;
  transition-duration: var(--duration-fast);
  transition-timing-function: var(--ease-in-out);
  box-shadow: none;
}

@media (max-width: 499px) {
  .Navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-left: env(safe-area-inset-left, 0);
    background: var(--bg-primary);
  }
}

@media (min-width: 500px) {
  .Navigation {
    grid-area: navigation;
    box-shadow: inset -1px 0 0 0 var(--border-color);
  }
}

@media (max-width: 499px) {
  .Navigation--hasScroll {
    box-shadow: 0 -1px 0 0 var(--border-color);
  }
}

@media (max-width: 499px) {
  .Navigation__content {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .Navigation__content {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.NavigationItemList {
  padding: var(--spacing-s);
  display: flex;
  align-items: stretch;
}

@media (max-width: 499px) {
  .NavigationItemList {
    width: 100%;
    height: var(--bottom-nav-height);
  }
}

@media (min-width: 500px) {
  .NavigationItemList {
    flex-direction: column;
  }
}

.NavigationItemList > * {
  flex: 1;
}

@media (max-width: 499px) {
  .NavigationItemList > *:not(:first-child) {
    margin-left: var(--spacing-s);
  }
}

@media (min-width: 500px) {
  .NavigationItemList > *:not(:first-child) {
    margin-top: var(--spacing-s);
  }
}

@media (max-width: 799px) {
  .NavLink {
    justify-content: center;
  }
}

.NavLink:not(.NavLink--active) {
  color: var(--dark-300);
}

.NavLink:not(.NavLink--active):active {
  color: var(--dark-500);
}

@media (max-width: 799px) {
  .NavLinkContent {
    display: none;
  }
}

@media (min-width: 500px) {
  .NavLinkIcon {
    font-size: var(--font-size-3xl);
  }
}

.NavLinkMainText {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

@media (max-width: 799px) {
  .NavigationLogo__item {
    justify-content: center;
  }
}

.NavigationLogo__icon {
  font-size: var(--font-size-5xl);
}

.NavigationLogo__label {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-3xl);
  line-height: var(--font-size-3xl);
  font-weight: var(--font-weight-semibold);
}

.NavigationUserItem {
  margin-top: auto;
}

@media (max-width: 799px) {
  .NavigationUser {
    justify-content: center;
  }
}
