.Section {
  padding: var(--spacing-s);
}

.SectionTitle {
  margin: var(--spacing-s) 0;
  padding: 0 var(--spacing-s);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);
}

.ButtonSection {
  padding: var(--spacing-l);
  display: flex;
  flex-direction: column;
}

.ButtonSection > *:not(:first-child) {
  margin-top: var(--spacing-l);
}

.SectionBox {
  margin: 0 var(--spacing-l);
  background: var(--bg-secondary);
  border-radius: var(--border-radius-m);
}
