.image {
  display: block;
}

.bluredWrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image.blured {
  width: 100%;
  height: 100%;
  background-position: bottom;
  filter: blur(150px);
}

.image.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-secondary);
}
