.Placeholder {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  --placeholder-background-height: 70%;
}

.Placeholder::before {
  /* Display some text to make sure to have the correct height when it is
   * set to "auto". */
  content: ".";
  opacity: 0;
}

.Placeholder::after {
  position: absolute;
  width: 100%;
  display: inline-block;
  border-radius: var(--border-radius-full);
  content: "";
  height: var(--placeholder-background-height);
  background: linear-gradient(
    to right,
    rgba(237, 237, 237, 0.2),
    rgba(129, 129, 129, 0.2) 50%,
    rgba(237, 237, 237, 0.2)
  );
  background-size: 1000px auto;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: Placeholder-animation-pulse;
  animation-timing-function: linear;
}

@keyframes Placeholder-animation-pulse {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.Placeholder--avatar {
  --placeholder-background-height: 100%;
  width: 2em;
  height: 2em;
}

.Placeholder--avatarSmall {
  font-size: var(--font-size-s);
}

.Placeholder--icon {
  --placeholder-background-height: 100%;
  width: 1em;
  height: 1em;
}

.Placeholder--image {
  --placeholder-background-height: 100%;
  overflow: hidden;
}

.Placeholder--input {
  height: 40px;
}

.Placeholder--label {
  width: 25%;
}

.Placeholder--selector {
  width: 112px;
  height: 40px;
}

.Placeholder--text {
  width: 75%;
}
