.Main {
  grid-area: main;
  padding-left: 0;
  padding-left: env(safe-area-inset-left, 0);
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);
  background: var(--bg-primary);
}

@media (max-width: 499px) {
  .Main {
    /* The navigation is at the bottom so we need to compensate for safe area. */
    padding-right: 0;
    padding-right: env(safe-area-inset-right, 0);
  }
}

@media (max-width: 499px) {
  .Main--withNavigation {
    --padding-bottom: var(--bottom-nav-height);
    padding-bottom: var(--padding-bottom);
    padding-bottom: calc(
      var(--padding-bottom) + env(safe-area-inset-bottom, 0)
    );
  }
}
