@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * Make sure focused elements without focus-visible don't have an outline.
   */
  :focus:not(:is(:focus-visible, .focus-visible)) {
    @apply outline-none;
  }

  body {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}

/*
 * In order to preserve a nice vertical rhythm, all text must have a size
 * multiple of 24px:
 *
 *   font-size * line-height = X * 24px
 */
@layer utilities {
  .text-body-default {
    @apply font-sans;
    font-size: 16px;
    line-height: 1.5;
  }

  .text-body-emphasis {
    @apply font-sans font-medium;
    font-size: 16px;
    line-height: 1.5;
  }

  .text-caption-default {
    @apply font-sans;
    font-size: 14px;
    line-height: 1.7143;
  }

  .text-title-item {
    @apply font-serif font-bold;
    font-size: 16px;
    line-height: 1.5;
  }

  .text-title-hero-large {
    @apply font-serif font-semibold;
    font-size: 60px;
    line-height: 1.2;
  }

  .text-title-hero-small {
    @apply font-serif font-semibold;
    font-size: 40px;
    line-height: 1.2;
  }

  .text-title-section-large {
    @apply font-serif font-semibold;
    font-size: 40px;
    line-height: 1.2;
  }

  .text-title-section-small {
    @apply font-serif font-bold;
    font-size: 20px;
    line-height: 1.2;
  }
}
