.form {
  box-shadow: var(--shadow);
  background: var(--bg-primary);
  border-radius: var(--border-radius-full);
  padding: var(--spacing-xs);
  display: flex;
  align-items: stretch;
}

.form > *:not(:first-child) {
  margin-left: var(--spacing-s);
}

.select {
  appearance: none;
  min-width: 0;
  flex: 1;
  border-radius: var(--border-radius-full);
  padding: var(--spacing-s) var(--spacing-l);
}

@media (hover: hover) {
  .select:hover {
    text-decoration: underline;
  }
}

.select.empty {
  color: var(--text-label);
}

.link {
  flex: none;
  display: flex;
  align-items: center;
  background: var(--blue-medium);
  color: var(--text-contrast);
  border-radius: var(--border-radius-full);
  font-weight: var(--font-weight-semibold);
}

@media (hover: hover) {
  .link:hover {
    background: var(--blue-light);
  }
}

.link:active {
  background: var(--blue-dark);
}

@media (max-width: 399px) {
  .link {
    width: 40px;
    height: 40px;
    justify-content: center;
  }
}

@media (min-width: 400px) {
  .link {
    padding: var(--spacing-s) var(--spacing-xl);
  }
}

@media (max-width: 399px) {
  .linkLabel {
    display: none;
  }
}

@media (min-width: 400px) {
  .linkLabel {
    margin-left: var(--spacing-s);
  }
}
