.HeroSection {
  position: relative;
  width: 100%;
}

@media (min-width: 800px) {
  .HeroSection {
    height: 90vh;
  }
}

.HeroSectionImage {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 799px) {
  .HeroSectionImage {
    height: 66vh;
  }
}

@media (min-width: 800px) {
  .HeroSectionImage {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
  }
}

@media (min-width: 800px) {
  .HeroSectionContent {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .HeroSectionContent--left {
    justify-content: flex-start;
  }

  .HeroSectionContent--right {
    justify-content: flex-end;
    text-align: right;
  }
}

@media (max-width: 799px) {
  .HeroSectionText {
    position: relative;
    padding-top: calc(var(--spacing-unit) * 10);
  }
}

@media (min-width: 800px) {
  .HeroSectionText {
    width: 50%;
  }
}

.HeroSectionTitle {
  margin: 0;
  font-family: var(--font-serif);
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 800px) {
  .HeroSectionTitle {
    font-size: 64px;
  }
}

.HeroSectionSubTitle {
  margin: 0;
  margin-top: calc(var(--spacing-unit) * 4);
  font-size: 20px;
}

@media (min-width: 800px) {
  .HeroSectionSubTitle {
    font-size: 24px;
  }
}

@media (max-width: 799px) {
  .HeroSectionSearchForm {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    max-width: 512px;
  }
}

@media (min-width: 800px) {
  .HeroSectionSearchForm {
    margin-top: calc(var(--spacing-unit) * 4);
  }
}
