.SearchForm {
  box-shadow: var(--shadow);
  background: var(--bg-primary);
  border-radius: var(--border-radius-full);
  padding: calc(var(--spacing-unit) * 1);
  display: flex;
  align-items: stretch;
}

.SearchForm > *:not(:first-child) {
  margin-left: calc(var(--spacing-unit) * 2);
}

.SearchFormSelect {
  appearance: none;
  min-width: 0;
  flex: 1;
  border-radius: var(--border-radius-full);
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
}

.SearchFormSelect:hover {
  background: var(--bg-secondary);
}

.SearchFormSelect--empty {
  color: var(--text-label);
}

.SearchFormLink {
  flex: none;
  display: flex;
  align-items: center;
  background: var(--blue-600);
  color: var(--text-contrast);
  border-radius: var(--border-radius-full);
  font-weight: 600;
}

.SearchFormLink:hover {
  background: var(--blue-500);
}

.SearchFormLink:active {
  background: var(--blue-700);
}

@media (max-width: 399px) {
  .SearchFormLink {
    width: 40px;
    height: 40px;
    justify-content: center;
  }
}

@media (min-width: 400px) {
  .SearchFormLink {
    padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
  }
}

@media (max-width: 399px) {
  .SearchFormLinkLabel {
    display: none;
  }
}

@media (min-width: 400px) {
  .SearchFormLinkLabel {
    margin-left: calc(var(--spacing-unit) * 2);
  }
}
