.LargeNavigation {
  padding: 0 calc(var(--spacing-unit) * 8);
  display: flex;
  align-items: center;
}

.LargeNavigationItem {
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  font-weight: 600;
}

.LargeNavigationItem > *:not(:first-child) {
  margin-left: calc(var(--spacing-unit) * 1);
}

.LargeNavigationItem:hover,
.LargeNavigationItem:active {
  background: var(--bg-secondary);
}

.LargeNavigationMenu {
  position: relative;
}

.LargeNavigationMenu__content {
  --menu-content-translate: translate3d(-50%, calc(var(--spacing-unit) * 5), 0);

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: var(--menu-content-translate) scale3d(0.5, 0.5, 1);
  transform-origin: top center;
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: var(--duration-popover);
  transition-timing-function: var(--ease-exit);
  width: max-content;
  max-width: 360px;
  background: var(--bg-primary);
  padding: var(--border-radius) 0;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lg);
}

.LargeNavigationMenu__content--open {
  transform: var(--menu-content-translate) scale3d(1, 1, 1);
  opacity: 1;
  transition-timing-function: var(--ease-enter);
}
