.SmallNavigation__button {
  border-radius: 50%;
  padding: calc(var(--spacing-unit) * 4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.SmallNavigation__nav {
  position: absolute;
  /* Lower than the header background. */
  z-index: -2;
  top: 100%;
  left: 0;
  transform: translate3d(0, calc(-100% - var(--header-height)), 0);
  transition-property: transform;
  transition-duration: var(--duration-popover);
  transition-timing-function: var(--ease-exit);
  width: 100%;
  background: var(--bg-primary);
  padding-bottom: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: var(--shadow-lg);
}

.SmallNavigation__nav--open {
  transform: translate3d(0, 0, 0);
  transition-timing-function: var(--ease-enter);
}

.SmallNavigationItem {
  width: 100%;
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.SmallNavigationItem:hover,
.SmallNavigationItem:active {
  opacity: 0.8;
}

.SmallNavigationMenu {
  display: none;
}

.SmallNavigationMenu--open {
  display: block;
  font-weight: 500;
  padding-bottom: calc(var(--spacing-unit) * 4);
}
