.Label {
  margin-bottom: var(--spacing-s);
  padding: 0 var(--spacing-l);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  color: var(--text-secondary);
}

.Label--hasError {
  color: var(--alert-500);
}
