*,
*::before,
*::after {
  /* Disable bark background on link/button on tap. */
  -webkit-tap-highlight-color: transparent;
}

html {
  background: var(--bg-primary);
  font-size: 16px;
}

@media (min-width: 500px) {
  html {
    background: var(--bg-secondary);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-primary);
}

a:focus,
input:focus,
select:focus,
button:focus,
[tabindex]:focus {
  /* TODO: Remove the `!important` when Tailwind has been removed. */
  outline: none !important;
}

a.focus-visible,
a:focus-visible,
input.focus-visible,
input:focus-visible,
select.focus-visible,
select:focus-visible,
button.focus-visible,
button:focus-visible,
[tabindex].focus-visible,
[tabindex]:focus-visible {
  box-shadow: 0 0 0 3px var(--primary-a400);
}
