.Item {
  width: 100%;
  border-radius: var(--border-radius);
  padding: calc(var(--spacing-unit) * 2);
  display: flex;
  align-items: center;
}

.Item--isHighlighted {
  background: var(--dark-50);
}

.Item--action {
  text-align: left;
}

/* Make sure the outline is not hidden by near elements. */
.Item--action:focus {
  z-index: 1;
  position: relative;
}

.Item--red {
  color: var(--alert-500);
  font-weight: var(--font-weight-medium);
}

.Item--yellow {
  color: var(--warning-500);
  font-weight: var(--font-weight-medium);
}

@media (hover: hover) {
  .Item--action:not(.Item--disabled):hover {
    background: var(--dark-30);
  }
}

.Item--action:not(.Item--disabled):active {
  background: var(--dark-50);
}

@media (hover: hover) {
  .Item--action.Item--isHighlighted:not(.Item--disabled):hover {
    background: var(--dark-100);
  }
}

.Item--action.Item--isHighlighted:not(.Item--disabled):active {
  background: var(--dark-200);
}

.Item--disabled {
  opacity: var(--opacity-disabled);
}

.Item > :not([hidden]) ~ :not([hidden]) {
  margin-left: calc(var(--spacing-unit) * 4);
}

.ItemIcon {
  flex: none;
  /* Same as `--line-height-medium`. */
  min-height: 1.5rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: var(--font-size-2xl);
}

.ItemContent {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.ItemText {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemText--secondary {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--text-secondary);
}

.Item--red .ItemText--secondary {
  color: var(--alert-400);
}

.Item--yellow .ItemText--secondary {
  color: var(--warning-400);
}

.ItemActions {
  margin-top: var(--spacing-unit);
  max-width: 100%;
}
