:root {
  --font-serif: "Playfair Display";
  --font-sans: "Open Sans";
  --spacing-unit: 4px;

  --text-primary: rgba(0, 0, 0, 0.8);
  --text-secondary: rgba(0, 0, 0, 0.7);
  --text-label: rgba(0, 0, 0, 0.5);
  --text-contrast: white;

  --bg-primary: white;
  --bg-secondary: rgba(0, 0, 0, 0.03);
  --bg-footer: rgba(0, 0, 0, 0.1);

  --blue-50: hsl(202, 100%, 90%);
  --blue-100: hsl(202, 100%, 81%);
  --blue-200: hsl(202, 100%, 72%);
  --blue-300: hsl(202, 100%, 63%);
  --blue-400: hsl(202, 100%, 54%);
  --blue-500: hsl(202, 100%, 45%);

  /* Closest to #0078bd (hsl(202, 100%, 37%)). */
  --blue-600: hsl(202, 100%, 36%);

  --blue-700: hsl(202, 100%, 27%);
  --blue-800: hsl(202, 100%, 18%);
  --blue-900: hsl(202, 100%, 9%);

  --green: #32b54f;
  --yellow: #ffc31b;
  --red: #ed2a26;
  --cyan: #00bfbf;
  --header-height: 64px;

  /* Radius */
  --border-radius: 16px;
  --border-radius-full: 9999px;
  --border-color: rgba(0, 0, 0, 0.1);

  /* Transitions and animations */
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-exit: var(--ease-in);
  --ease-enter: var(--ease-out);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-popover: 100ms;

  /* Shadows */
  --shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}
