.TagList {
  --list-h-spacing: var(--spacing-s);
  --list-v-spacing: var(--spacing-s);
  margin-top: calc(var(--list-v-spacing) * -1);
  margin-left: calc(var(--list-h-spacing) * -1);
  padding: 0 var(--spacing-l);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.TagListItem {
  margin-top: var(--list-v-spacing);
  margin-left: var(--list-h-spacing);
}

.TagLink {
  padding: var(--spacing-s) var(--spacing-l);
  display: flex;
  align-items: center;
  background: var(--bg-secondary);
  border-radius: var(--border-radius-full);
}

.TagLink:hover,
.TagLink:active {
  background: rgba(0, 0, 0, 0.05);
}

.TagLink > *:not(:first-child) {
  margin-left: var(--spacing-s);
}

.TagIcon {
  display: none;
  color: var(--text-secondary);
  display: flex;
}
