.TagList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
}

@media (min-width: 800px) {
  .TagList {
    width: 360px;
  }
}

.TagLink {
  padding: var(--spacing-s) var(--spacing-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (hover: hover) {
  .TagLink:hover {
    text-decoration: underline;
  }
}

.TagIcon {
  display: flex;
  font-size: 32px;
}

.TagContent {
  margin-top: var(--spacing-xs);
}
