@import url("https://fonts.googleapis.com/css?family=Playfair+Display:300,400,400i,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-family: theme("fontFamily.sans");
    -webkit-font-smoothing: antialiased;
    /* This needs to come after -webkit-font-smoothing */
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    line-height: 1.5;
    color: theme("colors.gray.900");
  }
}

@layer components {
  .a11y-focus:focus {
    @apply outline-none;
  }

  .a11y-focus:focus-visible,
  .a11y-focus.focus-visible {
    @apply outline;
  }
}

@layer utilities {
  @variants focus-visible {
    .outline {
      /* Default tailwind outline */
      /* See https://github.com/tailwindlabs/tailwindcss/blob/2b0b306a77cc0f34cd25054a0d661a18278786bc/src/plugins/css/preflight.css#L37 */
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  @responsive {
    .hero-text {
      top: 50%;
      transform: translateY(-50%);
      left: 55%;
      width: 40%;
    }
  }
}
