@media (max-width: 499px) {
  .NavigationLogo {
    display: none;
  }
}

@media (max-width: 799px) {
  .NavigationLogo__item {
    justify-content: center;
  }
}

.NavigationLogo__icon {
  font-size: var(--font-size-5xl);
}

.NavigationLogo__label {
  font-family: var(--font-serif);
  font-size: var(--font-size-3xl);
  line-height: var(--font-size-3xl);
  font-weight: var(--font-weight-semibold);
}

.NavigationUserItem {
  margin-top: auto;
}

@media (max-width: 499px) {
  .NavigationUserItem {
    display: none;
  }
}

@media (max-width: 799px) {
  .NavigationUser {
    justify-content: center;
  }
}
