.PrimarySection {
  border-radius: var(--border-radius);
  overflow: hidden;
}

@media (min-width: 700px) {
  .PrimarySection {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .PrimarySection--reversed {
    flex-direction: row-reverse;
  }
}

.PrimarySectionHeader {
  padding: var(--spacing-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 700px) {
  .PrimarySectionHeader {
    flex: 1;
    min-width: min-content;
  }
}

.PrimarySectionTitle {
  margin-bottom: var(--spacing-l);
  font-family: var(--font-serif);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

@media (min-width: 800px) {
  .PrimarySectionTitle {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.PrimarySectionImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (min-width: 700px) {
  .PrimarySectionImage {
    flex: 2;
    width: initial;
    height: initial;
    min-width: 400px;
  }
}

.PrimarySectionAction {
  margin-top: var(--spacing-l);
}
