.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-semibold);
}

.markdown h1 {
  margin-top: var(--spacing-5xl);
  margin-bottom: var(--spacing-2xl);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
}

.markdown h2 {
  margin-top: var(--spacing-4xl);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.markdown h3 {
  margin-top: var(--spacing-3xl);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

.markdown h4 {
  margin-top: var(--spacing-2xl);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.markdown h5,
.markdown h6 {
  margin-top: var(--spacing-2xl);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.markdown a {
  color: var(--blue-medium);
}

@media (hover: hover) {
  .markdown a:hover {
    text-decoration: underline;
  }
}

.markdown h1 a,
.markdown h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a {
  color: inherit;
}

.markdown p:not(:last-child) {
  margin-bottom: var(--spacing-xl);
}

.markdown ul {
  margin-bottom: var(--spacing-xl);
  padding-left: var(--spacing-3xl);
  list-style: initial;
}

.markdown ol {
  margin-bottom: var(--spacing-xl);
  padding-left: var(--spacing-3xl);
  list-style: decimal;
}

.markdown table {
  margin-bottom: var(--spacing-xl);
  width: 100%;
  overflow: auto;
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown th {
  border: 1px solid var(--border-color);
  padding: var(--spacing-m) var(--spacing-l);
  font-weight: var(--font-weight-bold);
}

.markdown td {
  border: 1px solid var(--border-color);
  padding: var(--spacing-m) var(--spacing-l);
}

.markdown blockquote {
  margin-bottom: var(--spacing-xl);
  background: var(--bg-secondary);
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-m);
  display: flex;
  align-items: flex-start;
}

.markdown blockquote > svg {
  margin-right: var(--spacing-xl);
  flex: none;
  font-size: 48px;
  color: var(--text-label);
}

.markdown blockquote > div {
  flex: 1;
}

.markdown img {
  margin: 0 auto;
  max-width: 100%;
  border-radius: var(--border-radius-m);
}
