.Header {
  /* Create a new stacking context. */
  position: relative;
  z-index: 1;

  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
 * Instead of a basic background on .Header we use this pseudo element to make
 * sure the small nav slides under the background.
 */
.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
}

.Header > * {
  flex: none;
}

.HeaderLogoLink {
  padding: 0 var(--spacing-l);
  display: flex;
  align-items: center;
  font-size: 48px;
}

@media (min-width: 800px) {
  .HeaderLogoLink {
    padding: 0 var(--spacing-3xl);
  }
}

@media (max-width: 799px) {
  .HeaderNameAndLogo {
    display: none;
  }
}

@media (min-width: 800px) {
  .HeaderLogo {
    display: none;
  }
}
