.Stepper {
  padding: var(--spacing-l) 0;
  display: flex;
  align-items: center;
}

.StepItem {
  --step-icon-size: 24px;
  --step-item-spacing: var(--spacing-s);

  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StepItem::before {
  position: absolute;
  top: calc(var(--step-icon-size) / 2 + var(--step-item-spacing));
  left: 0;
  transform: translate3d(-50%, -50%, 0);
  width: calc(100% - (var(--step-icon-size) + 2 * var(--step-item-spacing)));
  height: 4px;
  border-radius: var(--border-radius-full);
}

.StepItem:not(:first-child)::before {
  content: "";
}

.StepItem--isPending::before {
  background: var(--dark-100);
}

.StepItem--isInProgress::before,
.StepItem--isDone::before {
  background: var(--primary-500);
}

.StepLink {
  max-width: 100%;
  padding: var(--step-item-spacing);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.StepLink__icon {
  margin-bottom: var(--spacing-xs);
  width: var(--step-icon-size);
  height: var(--step-icon-size);
}

.StepLink__icon--isPending {
  color: var(--dark-100);
}

.StepLink__icon--isInProgress,
.StepLink__icon--isDone {
  color: var(--primary-500);
}

@media (hover: hover) {
  .StepLink:not(.StepLink--isDisabled):hover .StepLink__icon--isInProgress,
  .StepLink:not(.StepLink--isDisabled):hover .StepLink__icon--isDone {
    color: var(--primary-400);
  }
}

.StepLink__label {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  color: var(--text-secondary);
}
