.ErrorMessage {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.ErrorMessage__image {
  margin: var(--spacing-2xl) 0;
  font-size: var(--font-size-9xl);
  /* We want it to be square */
  line-height: 1;
  animation-name: animation-fade-in, animation-scale-in;
  animation-duration: var(--duration-slow);
  animation-timing-function: var(--ease-enter);
  animation-fill-mode: forwards;
}

.ErrorMessage__message {
  padding: 0 var(--spacing-2xl);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.ErrorMessage__action {
  margin: var(--spacing-2xl) auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
