@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * Make sure focused elements without focus-visible don't have an outline.
   */
  :focus:not(:focus-visible) {
    @apply outline-none;
  }

  /*
   * Don't show focus outline on touch screens devices.
   * They usally don't have input mechanism that can hover over elements so we
   * check that.
   */
  @media (any-hover: none) {
    :focus {
      @apply outline-none;
    }
  }

  *,
  *::before,
  *::after {
    /*
     * Disable bark background on tap.
     * See https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color
     */
    -webkit-tap-highlight-color: transparent;

    /*
     * Disabling double-tap to zoom removes the need for browsers to delay the
     * generation of click events when the user taps the screen.
     * See https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
     */
    touch-action: manipulation;
  }

  body {
    /*
     * Make line breaks are added mid-word if needed.
     * See https://tailwindcss.com/docs/word-break#break-words
     */
    @apply break-words;

    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}
