.imageGallery {
  flex: 1;
  min-width: 0;
  transition: background-color var(--duration-controller) var(--ease-in-out);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 800px) {
  .content {
    position: sticky;
    top: var(--spacing-5xl);
    margin: var(--spacing-5xl) var(--content-margin);
    max-width: var(--content-max-width);
    height: 70vh;
  }
}

.images {
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.images::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.images::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

@media (min-width: 800px) {
  .images {
    border-radius: var(--border-radius-m);
  }
}

.image {
  scroll-snap-align: start;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  flex: none;
  object-fit: cover;
}

@media (max-width: 799px) {
  .image {
    height: 50vh;
  }
}

.thubnailItems {
  --thubnail-item-size: 50px;
  margin-top: var(--spacing-3xl);
  flex: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--thubnail-item-size));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: var(--spacing-xl);
  justify-content: center;
}

@media (max-width: 799px) {
  .thubnailItems {
    margin: var(--spacing-3xl);
  }
}

.thubnailItem {
  flex: none;
  display: flex;
}

.thubnailButton {
  display: flex;
  border-radius: var(--border-radius-s);
  overflow: hidden;
  opacity: 0.5;
  transition: opacity var(--duration-controller) var(--ease-in-out);
}

.thubnailButton.active {
  opacity: 1;
}

@media (hover: hover) {
  .thubnailButton:hover {
    opacity: 1;
  }
}

.thubnailImage {
  width: var(--thubnail-item-size);
  height: var(--thubnail-item-size);
  object-fit: cover;
}
