.searchResult {
  flex: 1;
}

.empty {
  padding: var(--spacing-5xl) 0;
  color: var(--text-secondary);
  text-align: center;
}

.title {
  margin-bottom: var(--spacing-l);
  font-weight: var(--font-weight-semibold);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: var(--spacing-2xl);
}

.animalCard {
  box-shadow: var(--shadow-lg);
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  background: var(--bg-primary);
}

.avatar {
  height: 200px;
  object-fit: cover;
}

.info {
  padding: var(--spacing-l);
}

.infoRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.infoRow > *:not(:first-child) {
  margin-left: var(--spacing-m);
}

.name {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-semibold);
  min-width: 0;
  word-break: break-word;
}

.age {
  flex: none;
  height: calc(var(--line-height-l) * var(--font-size-l));
  display: flex;
  align-items: center;
}

.infoRow.details {
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.genderIcon {
  height: calc(var(--line-height-sm) * var(--font-size-sm));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--line-height-sm) * 1em);
}
